<ul class="all-bets">
    {{! for every line, make a table with its data containing a form w/ bet amount and winnnings}}
    {{#each lines}}
    <li>
        <form id={{awayLong}} + "-" + {{homeLong}} + "-" + {{gameDate}} class="form">
            <table>
                {{! title row, contains name date and submit button}}
                <tr>
                    <th>{{awayLong}} at {{homeLong}}</th>
                    <th>{{gameDate}}</th>
                    <th><button type="submit" class="subButton" id="submit-"+{{awayLong}} + "-" + {{homeLong}} + "-" + {{gameDate}}>Submit bet</button></th>
                </tr>

                {{! away title row}}
                <tr>
                    <th>Away</th>
                    <th>{{awayLong}}</th>
                    <th>Bet</th>
                    <th>Win</th>
                    <th>Collect</th>
                </tr>

                {{! away points row}}
                <tr>
                    <th>Pts.</th>
                    <th>{{awayPts}}</th>
                    <th>
                        <input class="aspBet" type="number" id="aspbet-"+{{awayLong}} + "-" + {{homeLong}} + "-" + {{gameDate}}>
                    </th>
                    <th>
                        <input class="aspWin" type="number" id="aspwin-"+{{awayLong}} + "-" + {{homeLong}} + "-" + {{gameDate}}>
                    </th>
                    <th class="aspCollect" id="aspcollect-"+{{awayLong}} + "-" + {{homeLong}} + "-" + {{gameDate}}>0</th>
                </tr>

                {{! away ML row}}
                <tr>
                    <th>ML</th>
                    <th id="aml-"+{{awayLong}} + "-" + {{homeLong}} + "-" + {{gameDate}}>{{awayML}}</th>
                    <th>
                        <input class="amlBet" type="number" id="amlbet-"+{{awayLong}} + "-" + {{homeLong}} + "-" + {{gameDate}}>
                    </th>
                    <th>
                        <input class="amlWin" type="number" id="aspwin-"+{{awayLong}} + "-" + {{homeLong}} + "-" + {{gameDate}}>
                    </th>
                    <th class="amlCollect" id="amlcollect-"+{{awayLong}} + "-" + {{homeLong}} + "-" + {{gameDate}}>0</th>
                </tr>

                {{! home title row}}
                <tr>
                    <th>Home</th>
                    <th>{{homeLong}}</th>
                    <th>Bet</th>
                    <th>Win</th>
                    <th>Collect</th>
                </tr>

                {{! home points row}}
                <tr>
                    <th>Pts.</th>
                    <th>{{homePts}}</th>
                    <th>
                        <input class="hspBet" type="number" id="hspbet-"+{{awayLong}} + "-" + {{homeLong}} + "-" + {{gameDate}}>
                    </th>
                    <th>
                        <input class="hspWin" type="number" id="hspwet-"+{{awayLong}} + "-" + {{homeLong}} + "-" + {{gameDate}}>
                    </th>
                    <th class="hspCollect" id="hspcollect-"+{{awayLong}} + "-" + {{homeLong}} + "-" + {{gameDate}}>0</th>
                </tr>

                {{! home ML row}}
                <tr>
                    <th>ML</th>
                    <th id="hml-"+{{awayLong}} + "-" + {{homeLong}} + "-" + {{gameDate}}>{{homeML}}</th>
                    <th>
                        <input class="hmlBet" type="number" id="hmlbet-"+{{awayLong}} + "-" + {{homeLong}} + "-" + {{gameDate}}>
                    </th>
                    <th>
                        <input class="hmlWin" type="number" id="hmlwin-"+{{awayLong}} + "-" + {{homeLong}} + "-" + {{gameDate}}>
                    </th>
                    <th class="hmlCollect" id="hmlcollect-"+{{awayLong}} + "-" + {{homeLong}} + "-" + {{gameDate}}>0</th>
                </tr>

                {{! over row}}
                <tr>
                    <th>Over</th>
                    <th>{{over}}</th>
                    <th>
                        <input class="overBet" type="number" id="overbet-"+{{awayLong}} + "-" + {{homeLong}} + "-" + {{gameDate}}>
                    </th>
                    <th>
                        <input class="overWin" type="number" id="overwin-"+{{awayLong}} + "-" + {{homeLong}} + "-" + {{gameDate}}>
                    </th>
                    <th class="overCollect" id="overcollect-"+{{awayLong}} + "-" + {{homeLong}} + "-" + {{gameDate}}>0</th>
                </tr>

                {{! under row}}
                <tr>
                    <th>Under</th>
                    <th>{{under}}</th>
                    <th>
                        <input class="underBet" type="number" id="underbet-"+{{awayLong}} + "-" + {{homeLong}} + "-" + {{gameDate}}>
                    </th>
                    <th>
                        <input class="underWin" type="number" id="underwin-"+{{awayLong}} + "-" + {{homeLong}} + "-" + {{gameDate}}>
                    </th>
                    <th class="underCollect" id="undercollect-"+{{awayLong}} + "-" + {{homeLong}} + "-" + {{gameDate}}>0</th>
                </tr>
            </table>
        </form>
    </li>
    {{/each}}
    <script src="../public/bet.js"></script>
</ul>
