    {{#each allLines}}
        <form id='{{gameid}}'>
            <table>
              <thead>
                <tr>
                    <th class="away-at-home" colspan="2">{{awayLong}} at {{homeLong}}</th>
                    <th class="game-date" colspan="2">{{gameDate}} {{gameTime}}</th>
                    <th><button type="submit">SUBMIT</button></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                    <td>AWAY</td>
                    <td>{{awayLong}}</td>
                    <td>BET</td>
                    <td>WIN</td>
                    <td>COLLECT</td>
                </tr>
                <tr>
                    <td>PTS</td>
                    <td>{{awayPts}}</td>
                    <td><input name="aspBet" type="number"></td>
                    <td><input name="aspWin" type="number"></td>
                    <td><input name="aspCollect" enabled type="number"></td> <!-- DPTEST enabled for debug -->
                </tr>
                <tr>
                    <td>ML</td>
                    <td>{{awayML}}</td>
                    <td><input name="amlBet" type="number"></td>
                    <td><input name="amlWin" type="number"></td>
                    <td><input name="amlCollect" enabled type="number"></td>
                </tr>
                <tr>
                    <td class="rowsep" colspan="5">
                      <input type="hidden" name="awayPts" value="{{awayPts}}"/>
                      <input type="hidden" name="homePts" value="{{homePts}}"/>
                      <input type="hidden" name="awayML" value="{{awayML}}"/>
                      <input type="hidden" name="homeML" value="{{homeML}}"/>
                      <input type="hidden" name="over" value="{{over}}"/>
                      <input type="hidden" name="under" value="{{under}}"/>
                    </td>
                </tr>
                <tr>
                    <td>HOME</td>
                    <td>{{homeLong}}</td>
                    <td>BET</td>
                    <td>WIN</td>
                    <td>COLLECT</td>
                </tr>
                <tr>
                    <td>PTS</td>
                    <td>{{homePts}}</td>
                    <td><input name="hspBet" type="number"></td>
                    <td><input name="hspWin" type="number"></td>
                    <td><input name="hspCollect" enabled type="number"></td>
                </tr>
                <tr>
                    <td>ML</td>
                    <td>{{homeML}}</td>
                    <td>BET</td>
                    <td>WIN</td>
                    <td>COLLECT</td>
                </tr>
                <tr><td class="rowsep" colspan="5"></td></tr>
                <tr>
                    <td>OVER</td>
                    <td>{{over}}</td>
                    <td><input name="overBet" type="number"></td>
                    <td><input name="overWin" type="number"></td>
                    <td><input name="overCollect" enabled type="number"></td>
                </tr>
                <tr>
                    <td>UNDER</td>
                    <td>{{under}}</td>
                    <td><input name="underBet" type="number"></td>
                    <td><input name="underWin" type="number"></td>
                    <td><input name="underCollect" enabled type="number"></td>
                </tr>
             </tbody>
            </table>
        </form>
        <div class="vspacer"></div>
    {{/each}}
    <script src="js/bet.js"></script>
<script>
async function submitBet(ev) {
  ev.preventDefault();
  const inps = ev.target.getElementsByTagName("input");
  const x = {};
  for (nv of inps)
    x[nv.name] = 0 + Number(nv.value);
  x.gameid = ev.target.getAttribute("id");
  var requestConfig = {
    method: 'POST',
    contentType: 'application/json',
    data: JSON.stringify(x),
    url: '/bet',
  };
  $.ajax(requestConfig)
    .then(x => console.log(JSON.stringify(x)))
    .catch(e => alert(JSON.stringify(e.responseJSON)));
}
$('form').submit(submitBet);
</script>
