<h1>Your betting history</h1>

<div id="standing">
  <h2>Current Standing</h1>
  <p>{{totals.standing}}</p>
</div>
<div id="pending">
  <h2>Current Standing</h1>
  <p>{{totals.pending}}</p>
</div>
<table>
<tr>
  <th>Game</th>
  <th>Bet type</th>
  <th>Your number</th>
  <th>Bet amount</th>
  <th>Win amount</th>
  <th>Collect amount</th>
  <th>Resolved date</th>
  <th>Paid amount</th>
</tr>
{{#each bets}}
<tr>
  <td>{{this.gameid}}</td>
  <td>{{this.bettype}}</td>
  <td>{{this.num}}</td>
  <td>{{this.amount}}</td>
  <td>{{this.pays}}</td>
  <td>{{this.collects}}</td>
  <td>{{#if this.resolve}}{{this.resolved}}{{else}}{{/if}}</td>
  <td>{{this.paid}}</td>
</tr>
{{/each}}
<tr>
  <td>Totals</td>
  <td>N/A</td>
  <td>N/A</td>
  <td>{{totals.amount}}</td>
  <td>{{totals.pays}}</td>
  <td>{{totals.collects}}</td>
  <td>N/A</td>
  <td>{{totals.paid}}</td>
</tr>
</table>
</p>
